.movie-list-container{
    padding: 20px;
}

.movie-list-title{
    color: white;
}

.movie-list-wrapper{
    position: relative;
}

.movie-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    height: 300px;
}

.movie-list-item{
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item-img{
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: all 1s ease-in-out;
}

.movie-list-item-title{
    background-color: #333;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    color: white;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.movie-list-item-desc{
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    color: white;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.movie-list-item-button{
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 50px;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgray;
    cursor: pointer;
    opacity: 0.5;
}

.arrow:hover{
    color: blue;
}

@media(max-width: 1200px) {

    .movie-list{
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 50px;
    }

    .movie-list-title{
        color: white;
        margin-top: 50px;
    }

    .movie-list-item{
        margin-right: 5px;
    }

    .movie-list-item:hover .movie-list-item-img{
        transform: scale(1.2);
        margin: 30px 30px;
        opacity: 0.5;
    }

}

@media(max-width: 920px) {

    .movie-list{
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 50px;
    }

    .movie-list-item{
        margin-right: 5px;
    }

}

@media(max-width: 660px) {

    .movie-list{
        display: inline-block;
        margin-bottom: 50px;
    }

}

@media(max-width: 425px) {

    .movie-list-item-img{
        width: 220px;
        height: 180px;
        object-fit: cover;
        transition: all 1s ease-in-out;
    }
    
    .movie-list-item-desc{
        background-color: #333;
        padding: 10px;
        font-size: 14px;
        position: absolute;
        top: 30%;
        left: 50px;
        width: 200px;
        color: white;
        opacity: 0;
        transition: all 1s ease-in-out;
    }

}